.movie-app {
  color: $gray;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 4% 6%;
  background: $gray-3;
  position: relative;

  &-like {
    align-self: flex-end;
    position: absolute;
    top: 50px;
    right: 50px;
    text-decoration: none;

    i {
      font-size: 25px;
      color: $red-1;
      cursor: pointer;
      transition: all 0.5s ease;
      border: 3px solid $red-1;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 22px;

      &:hover {
        transform: scale(1.05);
        color: $red;
      }
    }
  }
}
