.movie-app-like {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  color: $gray;
  background-color: $gray-3;
  gap: 40px;
  padding: 4% 6%;
  position: relative;

  &-title {
    text-align: center;
    display: block;
    font-weight: 500;
    width: 100%;
    font-size: 50px;
    margin-bottom: 20px;
    padding-bottom: 30px;
    border-bottom: 5px solid $gray;

    i {
      transition: all 0.4s ease;

      &:hover {
        transform: translate(20px);
      }
    }
  }

  &-home {
    position: absolute;
    top: 40px;
    right: 40px;
    border: 3px solid $gray;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background: transparent;
    color: $white;
    padding: 5px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.4s ease;
    text-decoration: none;

    &:hover {
      background: $white;
      color: $gray-4;
      border-color: $white;
    }
  }

  &-movies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    position: relative;
    border: 3px solid $gray-2;
    border-radius: 30px;
    padding-bottom: 10px;
    -webkit-box-shadow: 8px 5px 15px 5px rgba(0, 0, 0, 0.64);
    box-shadow: 8px 5px 15px 5px rgba(0, 0, 0, 0.64);
    transition: all 0.5s ease;

    &:hover {
      -webkit-box-shadow: 3px 5px 13px 14px rgba(0, 0, 0, 0.81);
      box-shadow: 3px 5px 13px 14px rgba(0, 0, 0, 0.81);
      transform: scale(1.05);
    }

    &-image {
      img {
        width: 220px;
        height: 300px;
        border-radius: 30px;
        transition: all 0.4s ease;
        &:hover {
          opacity: 0.4;
          cursor: pointer;
        }
      }
    }

    &-name {
      font-size: 22px;
      max-width: 180px;
      position: relative;
      display: inline-block;
      margin-left: 10px;

      .tooltiptext {
        visibility: hidden;
        width: 220px;
        background-color: $gray-4;
        color: $white;
        text-align: center;
        border-radius: 6px;
        padding: 10px 5px;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 20%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 0.3s;
      }

      .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: $white transparent transparent transparent;
      }

      &:hover {
        .tooltiptext {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    &-type {
      text-transform: capitalize;
      margin-left: 15px;
      font-size: 14px;
    }

    &-date {
      font-weight: 400;
      margin-left: 15px;
    }

    &-button {
      font-size: 20px;
      border: none;
      background: transparent;
      outline: none;
      position: absolute;
      bottom: 10px;
      right: 3px;
      color: $red-1;
      cursor: pointer;
      transition: all 0.5s ease;

      &:hover {
        color: $red;
      }
    }
  }
}
